@import './../../utilis/colors';
@import './../../utilis/mixins';

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  margin-left: 10px;
}

.projects-title {
  @include title;
  padding-bottom: 10px;
  font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 40px;
}

.create-project-button {
@include button-styles;
@include inter-medium;
font-size: 16px;
width: 176px;
height: 40px;
  cursor: pointer;
  margin-right: 50px;
}

.create-project-button:hover {
  background-color: #056229;
  ;
}

.status-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 2px;
}

.bg-green{
  background-color: $green-color;

}

.bg-gray {
  background-color: $gray-color;
}

.bg-orange {
  background-color: $orange-color;
}

.bg-blue {
  background-color: rgb(12, 213, 236);
}

.avatar-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -8px;
  margin-bottom: -8px;
}

.avatar-container > span {
  margin-right: -8px;
  margin-bottom: -8px;
  
}

.avatar-container > span > .ant-avatar {
  position: relative;
  z-index: 1;
  @include inter-medium;
}

.avatar-container > span > .ant-avatar:first-child  {
  margin-left: 0;
}

.avatar-container > span > .ant-avatar:last-child {
  margin-right: 0;
}

.remaining-developers {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $dark-green-color;
  color: $white-color;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;

.remaining-developers:hover {
  z-index: 2;
}
}