@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

@import '../../../utilis/colors';
@import '../../../utilis/mixins';

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  height: 70px;

    .header-content {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1.4375rem 0;

      .header-title {
        @include gilroy-medium500();
        font-size: 1.2rem;
        color: $text-color-dark-gray;
      }

      .project-count {
        @include gilroy-medium500();
        display: flex;
        height: 1.875rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 0.25rem;
        padding: 0.625rem;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: $green-color;
      }
    }
  .search-form {
  position: relative;
  padding-right:90px;

  .search-input {
    height: 2.5rem;
    width: 19.6875rem;
    border-radius: 0.125rem;
    border: 1px solid #ccd2d8;
    padding-left: 0.8rem;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.375rem;
    color: $text-color-primary;

    ::placeholder {
      font-family: 'Inter', sans-serif;
      font-size: 0.875rem;
      font-weight: normal;
      line-height: 1.375rem;
      color: $text-color-primary;
    }
  }

  .ant-input-prefix {
    left: 0.5rem; 
    font-size: 1.125rem; 
    color: $text-color-primary;
    padding-right: 10px;
  }
}
}

