$white-color: #fff;
$light-gray-color: rgba(255, 255, 255, 0.8);
$dark-white-color: #f1f1f1;
$background-color: #f2f2f2;
$active-navbar-color: #e6f4f1;
$gray-color: #939393;
$border-color: #cbcbcb;
$checkbox-color: #B1B5CA;
$gray-color: #828383;
$blue-color: #0000FF;
$project-text-color: #6C6D75;
$light-green-color: #75cfaa;
$active-navbar-text-color: #43A57C;
$tertiary-color: #2196f3;
$primary-color: #1A3835;
$dark-gray-color: #454750;
$black-color: #292929;
$dark-green-color: #2d6454;
$button-hover-color: #056229;
$green-color: #32C653;
$orange-color:#FFB341;

$background-gradient-first-color: #FCFDFC;
$background-gradient-second-color: #E6F2ED;

$border-color: #EBF4F1;

$text-color-dark-gray: #242834;
$text-color-primary: #57585F;
$text-color-secondary: #1A3835;

$green-border-color: rgba(179, 223, 201, 1);
$light-selection-color: #788489;
$selected-background:  #F5FFFA;
$selected-text: #43A57C;
$light-gray-border: rgba(223, 227, 225, 1);
$natural-gray-text: rgba(35, 47, 45, 1);
$icon-background: rgba(233, 243, 242, 1);
$see-details-color:#7BB99F;
$modal-background-color: rgba(0, 0, 0, 0.6);
$modal-content-background-color: #E9F3F2;
$modal-content-secondary-background-color: white;
$modal-content-text-color: #000;
$modal-label-color: #292929;
$modal-input-text-color: #6C6D75;
$special-card-color: #E9F3F2;
$dark-red-color: #670505;
$modal-placeholder-color: #cbcaca;
$modal-border-color: #eee6e6;

$hover-color: #dce3e8;

$upload-button-gradient-first-color: #DFE3E1;
$upload-button-gradient-second-color: #EBF5F1;

$secondary-button-text-color: #142E2B;
$sidebar-active-link-background-color: #E9F3F2;

$red-color: #FF4D4F;
$part-time-color:#A5B2B7;
$profit-background-color: #E9F3F2;

