$primary-color: #1A3835;
$background-color: #f2f2f2;
$white-color: #fff;
$black-color: #292929;
$gray-color: #B1B5CA;
$light-gray-color: rgba(255, 255, 255, 0.8);
$dark-gray-color: #272934;
$green-color: #00FF00;
$blue-color: #0000FF;
$tertiary-color: #2196f3;
$checkbox-color: #B1B5CA;
$border-color: #e8e8e8;

$background-gradient-first-color: #FCFDFC;
$background-gradient-second-color: #E6F2ED;

$border-color: #EBF4F1;

$text-color-dark-gray: #242834;
$text-color-primary: #57585F;
$text-color-secondary: #1A3835;