
@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../fonts/static/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../fonts/static/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../fonts/static/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('../fonts/static/Gilroy-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('../fonts/static/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('../fonts/static/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('../fonts/static/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../fonts/static/Inter-SemiBold.ttf') format('truetype');
}

@mixin button-styles {
  background: $primary-color;
  border-radius: 6px;
  color: $white-color;
  border: none;
  padding: 10px;
  cursor: pointer;
}

@mixin title {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: $black-color;

}

@mixin label-input-styles {
  label {
    width: 151px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.015em;
    flex: none;
    flex-grow: 0;
    flex-grow: 0;
    font-family: Arial;
  }

  input {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 10px 12px 12px;
    gap: 10px;
    border: 1px solid $checkbox-color;
    border-radius: 6px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}

@mixin font($font-family, $font-style, $font-weight, $font-size, $line-height, $color) {
font-family: $font-family, sans-serif;
font-style: $font-style;
font-weight: $font-weight;
font-size: $font-size;
line-height: $line-height;

color: $color;
}

@mixin inter-medium {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
}

@mixin inter-medium600 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  }

@mixin gilroy-medium {
font-family: 'Gilroy', sans-serif;
font-style: normal;
font-weight: 400;
}

@mixin gilroy-medium500 {
font-family: 'Gilroy', sans-serif;
font-style: normal;
font-weight: 500;
}

@mixin gilroy-medium600 {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  }

@mixin gilroy-medium700 {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 700;
}
// Custom260
$screen-rwd260-min: 260px;

// Custom460
$screen-rwd468-min: 468px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Custom820
$screen-rwd820-min: 820px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

@mixin sm {
@media (min-width: #{$screen-sm-min}) {
    @content;
}
}

// Medium devices
@mixin md {
@media (min-width: #{$screen-md-min}) {
    @content;
}
}

// Custom820
@mixin rwd820 {
@media (min-width: #{$screen-rwd820-min}) {
    @content;
}
}

// Custom468
@mixin rwd468 {
@media (min-width: #{$screen-rwd468-min}) {
    @content;
}
}

// Custom260
@mixin rwd260 {
@media (min-width: #{$screen-rwd260-min}) {
    @content;
}
}

// Large devices
@mixin lg {
@media (min-width: #{$screen-lg-min}) {
    @content;
}
}

// Extra large devices
@mixin xl {
@media (min-width: #{$screen-xl-min}) {
    @content;
}
}


