@import '../../utilis/mixins';
@import '../../utilis/colors';

.not-found-container {
  background-image: url("../../images/custom404/notFound.png");
  background-repeat: no-repeat;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  background-size: 100% 100%;
}


.not-found-button {
  @include button-styles;
  border-radius: 6px;
  margin-top: 145px;
  width: 250px;
  font-size: 18px;
}

.not-found-button:hover {
  background-color: $dark-green-color;
  transform: scale(1.05);
}

.not-found-button:active {
  background-color: $dark-green-color;
  transform: scale(0.95);
}
