.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .login-left {
    flex: 1;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    background: rgba(255, 255, 255, 0.8) url(../../public/img/Backgroundlogin.svg);
    background-size: cover;
  }
  
  .login-left img {
    width: 100%;
  }
  
  .login-right {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  
  .login-right form {
    display: flex;
    flex-direction: column;
  }
  
  .login-right label {
    width: 151px;
    height: 24px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #292929;
    flex: none;
    flex-grow: 0;
    flex-grow: 0;
  }
  
  .login-right input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 10px 12px 12px;
    gap: 10px;
    border: 1px solid #B1B5CA;
    border-radius: 6px;
    flex: none;
      flex-grow: 0;
    order: 0;
    flex-grow: 0;
  }
  
  .login-buttons {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
  }
  
  .login-buttons button {
    background: #1A3835;
    border-radius: 6px;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .checkbox-container input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .login-buttons a {
    width: 128px;
    height: -30px;
    left: 1108px;
    top: 563px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.015em;
    text-decoration-line: underline;
    color: #1A3835;
  }



  .logoType {
    
left: 15.28%;
right: 65.28%;
top: 48.44%;
bottom: 48.41%;
transform: scale(0.7);
opacity: 1;

  }

 .placeholder {


font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

/* identical to box height, or 150% */

/* Text/Dark Blue */
color: #272934;

opacity: 0.5;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
 }

 .login-left {
    position: relative;
    background-size: cover;
background-repeat: no-repeat;
  }
  
  .login-left img.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .login-left img.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
  }

  .checkbox-container-a {
    display: flex;
justify-content: space-between;
align-items: center;
  }

  .loginTitle {
    width: 100%;
font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 40px;
text-align: center;
color: #292929;
  }

  .loginForm {
    width:80%;
  }

  .passwordh2 {
    padding-top:10px;
    padding-bottom:10px;
  }

  .emailh2 {
    padding-bottom:10px;
  }