label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  //line-height: 26px;

  //font-size: 18px;
}

.input {
  margin-bottom: 15px;

  width: 300px;

  border-radius: 5px;
}