@import '../../utilis/colors';

.modal {
    position: fixed;
    inset: 0; /* inset sets all 4 values (top right bottom left) much like how we set padding, margin etc., */
    background-color: $modal-background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    z-index: 999;
    padding: 40px 20px 20px;
}

.modal-content {
    //width: 70%;
    //height: 70%;
    background-color: $modal-content-background-color;
    color: $modal-content-text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 100px;
}