@import '../../utilis/colors';
@import '../../utilis/mixins';

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 4px;
}

label {
  @include gilroy-medium500;
  font-size: 16px;
  color: $modal-label-color;

  padding-bottom: 4px;
}

.input-field {
  padding: 8px 16px;
  gap: 8px;

  @include gilroy-medium;
  font-size: 14px;
  background-color: white;
  color: $modal-input-text-color;

  width: 400px;

  border-radius: 6px;

  border-style: solid;
}

.currency-input-wrapper {
  width: 100%;
}

#salary-with-currency {
  width: 100%;
}

.currency-input {
  width: 100%;
}

.file-upload-button {
  width: 104px;
  height: 104px;

  background: linear-gradient(0deg, $upload-button-gradient-first-color, $upload-button-gradient-first-color),
  linear-gradient(0deg, $upload-button-gradient-second-color, $upload-button-gradient-second-color);

  border-style: none;
}

.file-upload-button * {
  cursor: pointer;
}

.file-upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 8px;

  width: 100%;
  height: 100%;

  @include gilroy-medium;
  font-size: 14px;
}


button[data-style] {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  outline: inherit;

  padding: 8px 16px;
  border-radius: 6px;
  @include inter-medium600;
  font-size: 16px;

  cursor: pointer;
}

button[data-style="primary"] {
  background-color: $primary-color;
  color: white;
}

button[data-style="secondary"] {
  color: $secondary-button-text-color;

  border: 1px solid $primary-color;
}

#salary-with-currency {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;

  select {
    @include gilroy-medium;
    font-size: 14px;
    background-color: white;
    color: $modal-input-text-color;
    border-radius: 6px;
    padding: 8px 16px;

    border-style: solid;
  }
}

.input-field-multiselect {
  gap: 8px;
  @include gilroy-medium;
  font-size: 14px;
  background-color: white;
  color: $modal-input-text-color;
  width: 435px;
  border-radius: 6px;
  border: solid 2px;
  padding: 4px;
  border-color: #dcd9d9;
  cursor: pointer;
}

.css-bg1rzq-control {
  height: 25px !important;
  border:none !important;
  background-color: transparent !important;
  flex-wrap: nowrap !important;
  min-height: 0px !important;
  cursor: pointer !important;
}

.css-bgvzuu-indicatorSeparator {
  display:none !important;
}

.employment-type-select {
  border: solid 2px;
  width: 100px;
  height: 25px;
  margin-right: 10px;
  border-radius: 6px;
  border-color: #dcd9d9;
}

.css.iszy77t-control {
border: none !important;
color: none !important;
cursor: pointer;
}

.selected-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 8px;
  padding-bottom: 10px;
  margin-left: 5px;

  .selected-item-container {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .selected-item-controls {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .selected-item {
    @include gilroy-medium500;
    font-size: 14px;
  }

  .remove-icon {
    cursor: pointer;
    transition: transform 0.2s;
  
    &:hover {
      transform: scale(1.4);
    }
  }
}

.selected-list {
  width: 435px;
}

.right-side-select {
  display: flex;
}

.css-1hwfws3 {
  font-size: 12px !important;
}

.css-xo7z33-option {
  background-color: #dcd9d9 !important;
  cursor: pointer;
}

.label,
.option-label,
.checkbox-option,
.css-fk865s-option,
.css-11unzgr,
.css-fk865s-option,
.css-dpec0i-option {
  cursor: pointer !important;
}

.option-label {
  padding-left: 10px;
}