@import './../../utilis/colors';
@import './../../utilis/mixins';

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;

  .pagination-info {
    @include gilroy-medium500;
    color: #6C6D75;
    display: flex;
    align-items: center;
  }

  .ant-pagination-total-text {
    display: none;
  }
}

.ant-pagination-next, .ant-pagination-prev {
  display: none !important;
}

.show-total {
  margin-left: auto;
  padding-left: 20px;
  @include gilroy-medium;
  color: $gray-color;
}

.ant-table-thead > tr > th {
  @include gilroy-medium500;
  color: $dark-gray-color;
}

.ant-table-tbody > tr > td {
  @include gilroy-medium;
  color: $gray-color;

}

.table td {
  @include gilroy-medium;
  color: $gray-color;
  
}

.custom-pagination {
  display: flex;
  align-items: center;

  .ant-pagination-item {
    border-color: $border-color;

    &:active {
      transform: scale(0.8);
    }
  }

  .ant-pagination-item-active {
    border-color: $gray-color !important;
    border-radius: 4px;
    background-color: $border-color;

    a {
      color: $black-color;
      background-color: #F5F6FB;
      border-color: $border-color;
    }
  }
}

.ant-select-single {
  padding-left: 12px;
}

.ant-select-selector {
  width: 100%;
  height: 32px;
  padding: 0px 9px;
  margin-bottom: 2px;
}

.ant-select-arrow {
  &::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    vertical-align: middle;
  }
}

.ant-select-selection-item {
  @include gilroy-medium600;
  color: $text-color-primary;

  &::before {
    content: none;
  }
}

.anticon {
  display: none;
}

.rows-text {
  @include gilroy-medium600;
  color: $text-color-primary;
}

.next-last-buttons {
  display: flex;
  align-items: center;

  button {
    margin-left: 8px;
    width: 46px;
    height: 32px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.45);
    cursor: pointer;
    background-color: white;
    border-color: $border-color;
    border-width: 1px;
    border-style: solid;

    &:hover {
      transform: scale(0.9);
    }

    &:active {
      transform: scale(0.8);
    }
  }
}

.pagination-right {
  display: flex;
}
