@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import '../../../utilis/colors';
@import '../../../utilis/mixins';

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.right-side {
  flex-grow: 1;
  padding-top: 20px;
  padding-left: 20px;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 20px;
}

.table-container {
  border: 1px solid $light-gray-border;
  border-radius: 6px;
  margin-top: 20px;
}

  .table-container {
        .revenue-column {
            font-size: 18px;
            @include gilroy-medium;
            color: black;
        }
  }

  .table-container {
    .value-column {
        font-size: 18px;
        @include gilroy-medium;
        font-weight: bold;
        color: black;
    }
}

.sum-row {
  background-color: $profit-background-color; 
}

.table-container .ant-table-tbody .sum-row td {
  font-weight: bold;
}

.table-container .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: transparent;
}

.table-container {
  border: 1px solid $light-gray-border;
  border-radius: 6px;
  margin-top: 20px;

  table {
    border-collapse: separate;
    border-spacing: 0;

    tr {
      &:not(:first-child) {
        td {
          border-top: none;
        }
      }

      &.ant-table-row {
        td {
          border: none;
        }
      }
    }
  }
}